body {
    padding-top: 70px;
}

div.main-content {
    padding-top: 50px;
}

div.main-content-buttons {
    padding-top: 30px;
}

div.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

table.vert-align * td {
    vertical-align: middle !important;
}